body {  min-width:600px; }

#wrap {
    margin: 0 0 0 15px;
    z-index: 1;
    position: relative;
    color: #333;
    font: 14px sans-serif;
}

#calendar {
    margin-top:110px;
}

#tooltip {
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    background: #333;
    color: #fff;
    position: absolute;
    margin: 2px 0px;
    padding: 3px;
    z-index: 1;
}

span{
    cursor: pointer;
}

.l2pt-textOperatori{
    text-align: left !important;
}